@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


html {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  background: rgb(78,49,102);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.content {
  position: relative;
  z-index: 2;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  font-style: italic;
}


header {
  margin-top: 50px;
  font-size: 3em;
  font-weight: bold;
}
nav {
  float: right;
  display: inline-block;
  font-size: 0.5em;
}
nav a {
  padding-left: 30px;
}
footer {
  font-family: "Lato", Verdana, Arial, sans-serif;
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
}


h1 {
  margin-top: 50px;
}
.title a:hover {
  font-style: none;
}
section {
  margin-top: 50px;
}
main {
  font-family: "Lato", Verdana, Arial, sans-serif;
  font-weight: lighter;
}
main p {
  display: inline-block;
}
main a:hover {
  font-style: normal;
  text-decoration: underline;
}
.details {
  display: inline-block;
  width: 40%;
  float: right;
}
blockquote {
  font-style: italic;
  border-left: 2px solid #dfdfdf;
  padding-left: 4px;
  color: #dfdfdf;
}

.vid_doc {
  width: 100%;
}

.project_list ul, li{
  list-style-type: none;
  margin: 0;
  padding: 15px 0px 15px 0px;
  font-size: 1.2em;
  text-transform: lowercase;
}
figcaption {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75em;
}


.about_cont {
  display: inline-block;
  width: 45%;
}
.about_pic {
  float: right;
  margin-left: auto;
  margin-right: auto;
}


/* == VIDEOS == */
.vid_container {
	position: relative;
  max-width: 700px;
	height: 0;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.vid_container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vid_16x9 {
	padding-bottom: 56.25%;
}
.vid_720 {
  padding-bottom: 45.90%;
}
.vid_4x3 {
	padding-bottom: 75%;
}
.vid_1x1 {
	padding-bottom: 50%;
}
.vid_720x2 {
  padding-bottom: 29%;
}
