@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


html {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  background: white;
  /* background: rgb(78,49,102); */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgb(237, 100, 207);
}
.content {
  position: relative;
  z-index: 2;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  font-style: italic;
}


header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 3em;
  font-weight: bold;
}
nav {
  float: right;
  display: inline-block;
  font-size: 0.5em;
}
nav a {
  padding-left: 30px;
}
footer {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
}


h1, h2, h3 {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* color: rgb(58,39,82); */
  color: rgb(42, 34, 46);
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  font-variant: all-small-caps;
  margin-bottom: 0;
}
.title a:hover {
  font-style: none;
}
section {
  margin-top: 50px;
}
main {
  /* font-family: "Josefin Sans", Helvetica, Verdana, Arial, sans-serif; */
  font-family: "Lato", Helvetica, Verdana, Arial, sans-serif;
  /* font-weight: lighter; */
  color: rgb(78,49,102);
}
main p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* display: inline-block; */
  font-size: 1.1rem;
  line-height: 170%;
}
main .sideR{
  width: 45%;
  display: inline-block;
}
main a{
  font-style: normal;
  text-decoration: underline;
}
main a:hover {
  font-style: normal;
  text-decoration: underline;
}
.details {
  display: inline-block;
  width: 40%;
  float: right;
}
blockquote {
  font-style: italic;
  font-size: 1em;
  border-left: 2px solid rgb(98,69,122);
  padding-left: 4px;
  color: rgb(98,69,122);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.vid_doc {
  width: 100%;
}

main ul{
  list-style-type: disc;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 1.2em; */
}
main li{
  padding: 5px 0px 15px 0px;
}

main mark {
  font-size: 1.5em;
  background-color: inherit;
}

.line-group {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.line-group > p {
  margin: 0;
  width: 50%;
}

/* == IMAGES == */
img {
  width: 100%;
}
.proj_img_full{
  width: 100%;
  margin: 0;
}
.proj_img_center{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.proj_img_tall{
  width: 50%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
.proj_img_sm{
  width: 40%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
.proj_img_sideL{
  min-width: 250px;
  width: 40%;
  float: left;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.proj_img_sideR{
  min-width: 250px;
  width: 40%;
  float: left;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
figcaption {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 0.75em;
  text-align: center;
  margin-bottom: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* == VIDEOS == */
.vid_container {
  position: relative;
  /* width: 100%; */
  height: 0;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.vid_sm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.vid_container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid_16x9 {
	padding-bottom: 56.25%;
}
.vid_720 {
  padding-bottom: 45.90%;
}
.vid_720x2 {
  padding-bottom: 28%;
  margin-bottom: 0.5em;
}
.vid_720_full {
  padding-bottom: 56.20%;
}
.vid_4x3 {
	padding-bottom: 75%;
}
.vid_sq {
	padding-bottom: 50%;
}
.vid_side {
  width: 45%;
  /* padding-bottom: 22%; */
  margin: 0;
  margin-bottom: 0.5em;
}

.vid_ext {
  width: 90%;
  padding-bottom: 50.625%;
  margin-top:    2em;
  margin-bottom: 2em;
}

.col_50{
  width: 45%;
  display: inline-block;
}